<h1>Animals</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each animals.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the animal_ID, zoo_ID, species_ID, arrival_date, and animal_name }}
        {{#each animals}}
        <tr>
            <td>{{this.animal_ID}}</td>
            <td>{{this.zoo_ID}}</td>
            <td>{{this.species_ID}}</td>
            <td>{{this.arival_date}}</td>
            <td>{{this.animal_name}}</td>

            {{! DELETE form }}
            <form id='delete_animal_form'>
                <input type='hidden' name='delete_animal_ID' value='{{this.animal_ID}}' />
                <input type='hidden' name='delete_animal_name' value='{{this.animal_name}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Add an Animal</h2>
<form class='cuForm' id='create_animal_form'>
    <label for='create_animal_name'>Name: </label>
    <input type='text' name='create_animal_name' id='create_animal_name' required />

    <label for='create_animal_enclosure'>Enclosure: </label>
    <select name='create_animal_enclosure' id='create_animal_enclosure'>
        <option selected>Select an enclosure</option>
        <option>&lt; None &gt;</option>
        {{#each enclosures}}
        <option value='{{this.animal_ID}}' required>{{this.animal_name}}</option>
        {{/each}}
    </select>

    <label for='create_animal_age'>Arrival Date:</label>
    <input type='number' name='create_animal_age' id='create_animal_age' min='0' />

    <input type='submit' />
</form>

{{! UPDATE form }}
<h2>Update an Animal</h2>
<form class='cuForm' id='update_animal_form'>
    <label for='update_animal_id'>Animal to Update: </label>
    <select name='update_animal_id' id='update_animal_id' required>
        <option value='' disabled selected>Select a animal</option>
        {{#each animal}}
        <option value='{{this.animal_ID}}' required>
            {{this.animal_ID}}
            -
            {{this.animal_name}}
        </option>
        {{/each}}
    </select>

    <label for='update_animal_zoo'>Zoos: </label>
    <select name = 'update_animal_zoo' id='update_animal_zoo'>
        <option value = 1>Select a Zoo</option>
        {{#each zoos}}
        <option value='{{this.zoo_ID}}' required>
            {{this.zoo_name}}
        </option>
        {{/each}}
    </select>

    <label for='update_animal_enclosure'>Enclosure: </label>
    <select name='update_animal_enclosure' id='update_animal_enclosure'>
        <option value='NULL' disabled selected>Select an Enclosure</option>
        {{#each enclosures}}
        <option value='{{this.animal_ID}}' required>
            {{this.animal_name}}
        </option>
        {{/each}}
    </select>

    <label for='update_animal_age'>Arrival Date: </label>
    <input type='date' name='update_animal_age' id='update_animal_age' min='0' />

    <input type='submit' />
</form>