<h1>Roles</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each roles.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, fname, lname, homeworld and age }}
        {{#each roles}}
        <tr>
            <td>{{this.role_title}}</td>

            {{! DELETE form }}
            <form id='delete_role_form'>
                <input type='hidden' name='delete_role_id' value='{{this.id}}' />
                <input type='hidden' name='delete_role_name' value='{{this.fname}} {{this.lname}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Create a Role</h2>
<form class='cuForm' id='create_role_form'>
    <label for='create_role_title'>Role Title: </label>
    <input type='text' name='create_role_title' id='create_role_title' required />

    <input type='submit' />
</form>

{{! UPDATE form }}
<h2>Update a Role</h2>
<form class='cuForm' id='update_role_form'>
    <label for='update_role_id'>Role to Update: </label>
    <select name='update_role_id' id='update_role_id' required>
        <option value='' disabled selected>Select a Role</option>
        {{#each people}}
        <option value='{{this.id}}' required>
            {{this.id}}
            -
            {{this.fname}}
            {{this.lname}}
        </option>
        {{/each}}
    </select>

    <label for='create_role_title'>Role Title: </label>
    <input type='text' name='create_role_title' id='create_role_title' required />

    <input type='submit' />
</form>
