<h1>Species</h1>
{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each species.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, common_name, and species_name }}
        {{#each species}}
        <tr>
            <td>{{this.species_ID}}</td>
            <td>{{this.common_name}}</td>
            <td>{{this.scientific_name}}</td>

            {{! DELETE form }}
            <form id='delete_species_form'>
                <input type='hidden' name='delete_species_ID' value='{{this.species_ID}}' />
                <input type='hidden' name='delete_common_name' value='{{this.common_name}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Add a Species</h2>
<form class='cuForm' id='create_species_form'>
    <label for='create_species_common_name'>Common Name: </label>
    <input type='text' name='create_species_common_name' id='create_species_common_name' required />

    <label for='create_species_scientific_name'>Scientific Name: </label>
    <input type='text' name='create_species_scientific_name' id='create_species_scientific_name' />

    <input type='submit' />
</form>

{{! UPDATE form }}
<h2>Update a Species</h2>
<form class='cuForm' id='update_species_form'>
    <label for='update_species_id'>Species to Update: </label>
    <select name='update_species_id' id='update_species_id' required>
        <option value='' disabled selected>Select a Species</option>
        {{#each species}}
        <option value='{{this.id}}' required>
            {{this.id}}
            -
            {{this.common_name}}
            {{this.scientific_name}}
        </option>
        {{/each}}
    </select>

    <label for='update_person_homeworld'>Homeworld: </label>
    <select name='update_person_homeworld' id='update_person_homeworld'>
        <option value='NULL' disabled selected>Select a Planet</option>
        <option value='NULL'>&lt; None &gt;</option>
        {{#each homeworlds}}
        <option value='{{this.id}}' required>
            {{this.name}}
        </option>
        {{/each}}
    </select>

    <label for='update_person_age'>Age: </label>
    <input type='number' name='update_person_age' id='update_person_age' min='0' />

    <input type='submit' />
</form>