{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each zoos.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the zoo name, city, state, and total animals}}
        {{#each zoos}}
        <tr>
            <td>{{this.zoo_name}}</td>
            <td>{{this.city}}</td>
            <td>{{this.state}}</td>
            <td>{{this.total_animals}}</td>

            {{! DELETE form }}
            <form id='delete_zoo_form'>
                <input type='hidden' name='delete_zoo_id' value='{{this.id}}' />
                <input type='hidden' name='delete_zoo_name' value='{{this.fname}} {{this.lname}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Add a Zoo</h2>
<form class='cuForm' id='add_zoo_form'>
    <label for='add_zoo_name'>Name: </label>
    <input type='text' name='add_zoo_name' id='add_zoo_name' required />

    <label for='add_zoo_city'>City: </label>
    <input type='text' name='add_zoo_city' id='add_zoo_city' />

    <label for='add_zoo_state'>State: </label>
    <input type='text' name='add_zoo_state' id='add_zoo_state' />

    <label for='add_zoo_animal_total'>Total Animals:</label>
    <input type='number' name='add_zoo_animal_total' id='add_zoo_animal_total' min='0' />

    <input type='submit' />
</form>

{{! UPDATE form }}
<h2>Update a Zoo</h2>
<form class='cuForm' id='update_zoo_form'>
    <label for='update_zoo_id'>Zoo to Update: </label>
    <select name='update_zoo_id' id='update_zoo_id' required>
        <option value='' disabled selected>Select a Zoo</option>
        {{#each zoos}}
        <option value='{{this.zoo_ID}}' required>
            {{this.zoo_id}}
            -
            {{this.zoo_name}}
        </option>
        {{/each}}
    </select>

    <label for='update_zoo_city'>City: </label>
    <input type="text" name = "update_zoo_city" id="update_zoo_city">


    <label for='update_zoo_state'>State: </label>
    <input type="text" name = "update_zoo_state" id="update_zoo_state">

    <label for='update_zoo_animal_total'>Total Animals: </label>
    <input type='number' name='update_zoo_animal_total' id='update_zoo_animal_total' min='0' />

    <input type='submit' />
</form>
